 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 251, 213);
    text-align: center;
    margin: 0;
    padding: 0;
 }

 header {
    text-align: center;
    background: rgb(32, 63, 87);
    padding: 22px;
    color: whitesmoke;
 }

 .main-page {
    width: 82%;
    margin: auto;
    background: rgb(250, 249, 249);
    border-radius: 12px;
    padding: 25px;
 }

 .entry-table input {
    width: 92%;
    display: block;
    margin: 12px auto;
    padding: 12px;
 }

button {
    margin: 12px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: rgb(58, 109, 143);
    color: white;
}

button:hover { background: rgb(32, 63, 87);}

.container-scroll {
    margin-top: 22px;
    max-height: 320px;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid rgb(32, 63, 87);
}

/*Responsiveness for Mobile*/
@media(max-width:640px) {
    .main-page{font-size:19px;}
}

/*Responsiveness for Tablet*/
@media(min-width:641px) and (max-width:1024px){
    .main-page{font-size: 25px;}
}

/*Responsiveness for Desktop*/
@media(max-width:1025px){
    .main-page{font-size: 31px;}
}